.box-add {
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.input-list {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border-color: #fbbd24;
  border-width: 4px;
  width: 70%;
}

.add-btn {
  background-color: #10b981;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 30px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
