.box-list {
  background-color: #fef3c7;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
}

.box-list p {
  color: #b45309;
  margin: 0;
}

.box-list select {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-color: #b45309;
}

.list-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
}

