.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid gray;
  width: 50%;
  padding: 2rem;
}

body {
  margin: 0;
}
